
.all-text {
  margin-top: 5%;
}

.flaticon-icons {
  margin-top: 15%;
}

.flaticon-icons-group {
  font-size: small;
  margin-top: 5%;
  margin-bottom: 12%;
}

ul li div a {
  color: black;
  text-decoration: underline;
}

p {
    text-indent: 10%;
}
