
.container-ql {
  margin-top: 5%;
  margin-bottom: 15%;
}

.element {
  margin-top: 8%;
}

.element h6 {
  margin-top: 3%;
}

.element ul {
  margin-top: 3%;
  margin-bottom: 2%;
}

.element ul li {
  word-break: break-all;
}

a {
  color: #3498db;
}
