
figure {
  margin-top: 12%;
  width: 132%;
}

figure img {
  width: 50%;
}

.custom-row {
  margin-top: 3%;
  margin-left: 3%;
}

.one-of-six-grades {
  height: 100px;
  width: 13%;
  margin-right: 3%;
  text-align: center;
  position: relative;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.numeric-grade {
  color: #2980b9;
  font-size: 45px;
}

.margintop {
  margin-bottom: 3%;
}

.custom-p {
  margin-top: 20%;
  font-size: 14px;
}

.azul {
  color: #91DC5A;
}

.vermelha {
  color: #D80027;
}
