
textarea {
  width: 100%;
}

form {
  margin-bottom: 5%;
}

form button {
  margin-top: 2%;
}

.navbar-custom {
  background-color: #90A4AE;
}

.containerr {
  margin-top: 2%;
}

.h1-styled {
  margin-top: 2%;
  margin-bottom: 2%;
}

.form-sec-button {
  margin-top: 2%;
}

.paddingtop {
  margin-top: 10%;
}
