
.h1-centered {
  margin-top: 5%;
  text-align: center;
}

.teacher {
  float:left;
  width:50%;
  overflow:hidden;
}

.student {
  float:right;
  width:50%;
  overflow:hidden;
}

.teacher-and-student {
  margin-top: 5%;
}

.student a {
  color: #37474F;
}

.student a figure {
  text-align: center;
}

.student a figure img {
  height: 140px;
  align-content: center;
}

.student a figure figcaption {
  text-align:center;
  margin-top: 7%;
}

.teacher a {
  color: #37474F;
}

.teacher a figure {
  text-align: center;
}

.teacher a figure img {
  height: 140px;
  align-content: center;
}

.teacher a figure figcaption {
  text-align:center;
  margin-top: 7%;
}
