
.container-ga {
  margin-top: 3%;
}

.container-ga h4 {
  margin-bottom: 3%;
}

.element {
  margin-top: 4%;
}

.element2 {
  margin-bottom: 4%;
}

.element h3 {
  color: #2980b9;
}

.element h6 {
  margin-top: 1%;
  word-break: break-all;
}

.h5-styled {
  color: #2980b9;
}

form button {
  margin-top: 4%;
}

.lado2 {
  height: 63vh;
  overflow-y: auto;
}

.binario_invisivel {
  display:none;
}
