
.question-list {
  margin-top: 5%;
}

.two-parts {
  margin-bottom: 30px;
  background-color: #bdc3c7;
  border: 1px ridge gray;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statement {
  padding: 1% 3% 1% 1%;
  float:left;
  width:80%;
  overflow:hidden;
}

.statement h4 {
  word-break: break-all;
}

.answer-this-question {
  float:left;
  width:20%;
  overflow:hidden;
}

.answer-this-question a {
  color: #34495e;
}

.answer-this-question a figure {
  position: absolute;
  text-align: center;
  float: right;
  top: 50%;
  margin-top: -55px;
}

.answer-this-question a figure img {
  height: 50px;
  align-content: center;
}

.answer-this-question a figure figcaption {
  margin-top: 10px;
  text-align:center;
}
