
.container-ql {
  margin-top: 5%;
  margin-bottom: 15%;
}

.element {
  margin-top: 8%;
}

.element h3 {
  color: #2980b9;
}

.element h6 {
  margin-top: 3%;
}

.element ul {
  margin-top: 3%;
  margin-bottom: 2%;
}

a {
  color: #3498db;
}
