
.question-list {
  margin-top: 5%;
}

.three-parts {
  margin-bottom: 30px;
  background-color: #bdc3c7;
  border: 1px ridge gray;
  border-radius: 10px;
  padding: 10px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.statement {
  padding: 1% 3% 1% 1%;
  float:left;
  width:53%;
  overflow:hidden;
}

.statement h4 {
  word-break: break-all;
}

.details {
  float:left;
  width:17%;
}

.details a {
  color: #34495e;
}

.details a figure {
  position: absolute;
  /*text-align: center;*/
  /*float: right;*/
  top: 17%;
  /*margin-top: -45px;*/
}

.details a figure img {
  height: 50px;
  align-content: center;
}

.details a figure figcaption {
  margin-top: 10px;
  text-align: center;
}

.grade {
  float:right;
  width:17%;
  /*overflow:hidden;*/
  margin-right: 1%;
}

.grade a {
  color: #34495e;
}

.grade a figure {
  /*position: absolute;*/
  text-align: center;
  /*float: left;*/
}

.grade a figure img {
  height: 80px;
  align-content: center;
}

.grade a figure figcaption {
  text-align:center;
}

.answers-list {
  float:right;
  width:13%;
  /*overflow:hidden;*/
  margin-right: 1%;
}

.answers-list a {
  color: #34495e;
}

.answers-list a figure {
  /*position: absolute;*/
  text-align: center;
  /*float: right;*/
}

.answers-list a figure img {
  height: 80px;
  align-content: center;
}

.answers-list a figure figcaption {
  text-align:center;
}
