
body, html {
  height: 100%;
  display: grid;
}

form {
  margin-bottom: 2%;
}

.student-index-all-options {
  margin: auto;
}

.student-index-options a {
  color: #37474F;
}

.student-index-options a figure {
  /*position: relative;*/
  text-align: center;
}

.student-index-options a figure img {
  /*top/bottom - left/right*/
  /*position: absolute;*/
    display: inline-block;
  text-align: left;
  margin: 3% 10%;
  width: 50%;
  height: 125px;
  padding-right: 10%;
  padding-top: 10%;
  padding-left: 10%;
  /*text-align: center;*/
}

.student-index-options a figure figcaption {
  margin-top: 5%;
  text-align:center;
}
