
body, html {
  height: 100%;
  display: grid;
}

.teacher-index-all-options {
  margin: auto;
}

.teacher-index-options a {
  color: #37474F;
}

.teacher-index-options a figure img {
  /*top/bottom - left/right*/
  margin: 3% 10%;
  width: 80%;
  height: 175px;
  padding-right: 10%;
  padding-top: 10%;
  padding-left: 10%;
}

.teacher-index-options a figure figcaption {
  margin-top: 5%;
  text-align:center;
}
