
.test-list {
  margin-top: 5%;
}

.both-sides {
  margin-bottom: 30px;
  background-color: #F3ECE2;
  border: 1px ridge gray;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-and-description {
  padding: 1% 3% 1% 1%;
  float:left;
  width:80%;
  overflow:hidden;
}

.title-and-description h4 {
  word-break: break-all;
}

.title-and-description p {
  word-break: break-all;
}

.q-button {
  float:right;
  width:20%;
  height: auto;
  margin-top: inherit;
  margin-bottom: auto;
  /*overflow:hidden;*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
}

.q-button a {
  color: #37474F;
}

.q-button a figure {
  position: absolute;
  text-align: center;
  float: right;
}

.q-button a figure img {
  height: 80px;
  align-content: center;
}

.q-button a figure figcaption {
  text-align:center;
}
