
.h1-centered {
  margin-top: 5%;
  text-align: center;
}

.emails {
  float:left;
  width:50%;
  overflow:hidden;
}

.infos {
  float:right;
  width:50%;
  overflow:hidden;
}

.emails-and-infos {
  margin-top: 5%;
}

.infos a {
  color: #37474F;
}

.infos a figure {
  text-align: center;
}

.infos a figure img {
  height: 140px;
  align-content: center;
}

.infos a figure figcaption {
  text-align:center;
  margin-top: 7%;
}

.emails a {
  color: #37474F;
}

.emails a figure {
  text-align: center;
}

.emails a figure img {
  height: 140px;
  align-content: center;
}

.emails a figure figcaption {
  text-align:center;
  margin-top: 7%;
}
