{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block inner %}
    <h1 class="h1-styled">{% trans "Account Inactive" %}</h1>

    <p>{% trans "This account is inactive." %}</p>
{% endblock %}

