{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

    <h1 class="h1-styled">{% trans "Sign In" %}</h1>

    <p>{% blocktrans %}Se você ainda não criou uma conta, então por favor
        <a href="{{ signup_url }}">cadastre-se</a> primeiro.{% endblocktrans %}</p>

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        <a class="secondaryAction btn btn-secondary form-sec-button" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>

{% endblock %}

