{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}
    <h1 class="h1-styled">{% trans "Password Reset" %}</h1>

    <p>{% blocktrans %}Nós te enviamos um e-mail. Por favor, entre em contato conosco
        se você não recebê-lo dentro de alguns minutos.{% endblocktrans %}</p>
{% endblock %}

