{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner %}
    <h1 class="h1-styled">{% trans "Verify Your E-mail Address" %}</h1>

    {% url 'account_email' as email_url %}

    <p>{% blocktrans %}This part of the site requires us to verify that
        you are who you claim to be. For this purpose, we require that you
        verify ownership of your e-mail address. {% endblocktrans %}</p>

    <p>{% blocktrans %}Nós te enviamos um e-mail para
        verificação. Por favor, clique no link dentro do e-mail. Por favor,
        nos comunique se você não recebê-lo dentro de alguns minutos.{% endblocktrans %}</p>

    <p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>
        .{% endblocktrans %}</p>


{% endblock %}

