{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner %}
    <h1 class="h1-styled">{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}Nós enviamos um e-mail para você. Siga as instruções do link enviado para finalizar o
        processo de cadastro. Por favor, nos comunique se você não recebê-lo dentro de alguns minutos.{% endblocktrans %}</p>

{% endblock %}

