{% extends "account/base.html" %}
{% load static %}

{% block head_title %}Sobre{% endblock %}
{% block speccss %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block inner %}

    <h1 class="h1-styled">Sobre o Auto-Avaliador CIR</h1>

    <div class="all-text">
        <p>O Sistema Auto-Avaliador CIR (Colaborativo e Inteligente de Respostas) é um ambiente online para o desenvolvimento das dinâmicas envolvendo questões e respostas em um contexto de aprendizado.
        Nele professores podem se inscrever e, a partir da autorização do administrador, criarem provas e questões a serem respondidas por estudantes. Por sua vez, estudantes ao se inscreverem terão acesso
        à tais provas e questões e poderão cadastrar suas respostas. Professores terão então acesso às respostas dos estudantes e poderão avaliá-las, fornecendo feedback ao aluno, que poderá ver suas notas em seu espaço no site.</p>

        <p>O colaborativo da sigla vem do fato de que professores poderão colaborar entre si e com o sistema, principalmente de duas maneiras. A primeira é que um professor pode acrescentar respostas de referência e conceitos às questões de seus colegas, complementando e melhorando as questões.
        Além disso, professores poderão avaliar as respostas de quaisquer provas e questões do sistema, de forma a contribuir com o feedback do aluno.</p>

        <p>O inteligente vem do fato de que o sistema, quando possuir respostas e suas respectivas avaliações suficientes para uma questão, poderá avaliar automaticamente a resposta dos alunos subsequentes.
        Isso é possível devido a utilização de algoritmos de Aprendizado de Máquina, um dos ramos da Inteligência Artificial. Porém, para o correto funcionamento do sistema, muitas respostas e avaliações são necessárias, por isso quanto mais
        professores e alunos participarem colaborando melhor o sistema será.</p>

<p>A fim de preservar a identidade dos autores para cumprir com a anonimidade em submissões científicas, disponibilizamos aqui apenas uma prévia do dataset coletado com esse sistema. O dataset completo estará publicamente disponível (junto com sua licença de uso e nome dos autores) quando o artigo que o apresenta à comunidade for aceito para publicação em uma conferência ou revista científica ou ao final deste projeto de pesquisa. A prévia pode ser baixada aqui: <a href="/static/data/dataset.rar">dataset.rar</a>.</p>    </div>
    <h6 class="flaticon-icons">Os ícones desse site foram utilizados de acordo com o plano gratuito do Flaticon, com os devidos créditos:</h6>

    <ul class="list-group flaticon-icons-group">
        <li class="list-group-item"><div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></li>
        <li class="list-group-item"><div>Icons made by <a href="https://www.flaticon.com/authors/ocha" title="OCHA">OCHA</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></li>
        <li class="list-group-item"><div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></li>
        <li class="list-group-item"><div>Icons made by <a href="https://www.flaticon.com/authors/daniel-bruce" title="Daniel Bruce">Daniel Bruce</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></li>
        <li class="list-group-item"><div>Icons made by <a href="https://www.flaticon.com/authors/vaadin" title="Vaadin">Vaadin</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></li>
{#        <li class="list-group-item"></li>#}
    </ul>

    <p>Copyright © -- Este site não tem fins lucrativos. Todos os dados coletados serão usados única e exclusivamente para fins acadêmicos.</p>

{% endblock %}
