{% extends "account/base.html" %}
{% load static %}

{% block head_title %}Contato{% endblock %}
{#{% block speccss %}#}
{#    <link href="{% static 'css/about.css' %}" rel="stylesheet">#}
{#{% endblock %}#}

{% block inner %}

    <h1 class="h1-styled">Contate-nos!</h1>

{#    <div class="all-text">#}
        <p>Ao enfrentar qualquer problema ou dúvida, por favor nos contate por e-mail no seguinte endereço: contato@autoavaliadorcir.com .
        Feedbacks e sugestões também podem ser enviados para o mesmo endereço.</p>
{#    </div>#}

{% endblock %}
