{% extends "base.html" %}

{% block title %}HTTP Error 400{% endblock %}

{% block content %}

    <h1 class="h1-styled">Erro 400 - Falha na Requisição</h1>

    <p>Esses erros são detectados automaticamente e enviados como relatório aos administradores. Entretanto,
    se o problema persistir, contate o administrador.</p>

{% endblock content %}
