{% extends "base.html" %}

{% block title %}HTTP Error 403{% endblock %}

{% block content %}

    <h1 class="h1-styled">Erro 403 - Acesso Proibido!</h1>

    <p>Você não tem permissão para acessar esse endereço. Se acha que isto é um erro, por favor contate o
    administrador.</p>

{% endblock content %}
