{% extends "base.html" %}

{% block title %}HTTP Error 404{% endblock %}

{% block content %}

    <h1 class="h1-styled">Erro 404 - Página não encontrada.</h1>

    <p>Tem certeza que digitou a URL corretamente na barra de endereços? Se tiver, por favor
    contate o administrador sobre esse problema.</p>

{% endblock content %}
