{% extends "base.html" %}

{% block title %}HTTP Error 500{% endblock %}

{% block content %}

    <h1 class="h1-styled">Erro no servidor!</h1>

    <h3>Alguma coisa no lado do servidor ocasionou um erro.</h3>

    <p>Esses erros são detectados automaticamente e enviados como relatório aos administradores. Entretanto,
    se o problema persistir, contate o administrador.</p>

{% endblock content %}
