{% extends "base.html" %}

{% block title %}Erro{% endblock %}

{% block content %}

    <h1 class="h1-styled">Ocorreu um erro!</h1>

    <h3>Tente novamente mais tarde. Se o erro persistir, contate o
    administrador do sistema. </h3>

{% endblock content %}
