{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Lista das minhas respostas{% endblock %}
{% block speccss %}
    <link href="{% static 'css/answer_list2.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <h1 class="h1-styled">Lista das minhas respostas</h1>

    {% for ans in object_list %}
        <div class="card w-75 margintop">
            <div class="card-body">
                <h4 class="card-title">{{ ans.question_statement }}</h4>
                <p class="card-text">{{ ans.answer_text }}</p>
                <p><strong>Notas:</strong></p>
                <div class="row custom-row">
                    <div class="one-of-six-grades">
                        <div class="content">
                            {% if ans.t_grade != None %}
{#                                    {% if ans.t_grade >= 1.8 %}#}
                                    <h1 class="numeric-grade">{{ ans.t_grade }}/3</h1>
{#                                    {% else %}#}
{#                                        <h1 class="numeric-grade vermelha">{{ ans.t_grade }}/3</h1>#}
{#                                    {% endif %}#}
                                <p class="custom-p">Professor Criador</p>
                            {% else %}
                                <figure>
                                    <img src="{% static 'images/question-mark.svg' %}">
                                    <figcaption class="custom-p">Professor Criador</figcaption>
                                </figure>
                            {% endif %}
                        </div>
                    </div>
                    <div class="one-of-six-grades">
                        <div class="content">
                            {% if ans.t_bin_grade != None %}
                                {% if ans.t_bin_grade %}
                                    <figure>
                                        <img src="{% static 'images/right.svg' %}">
                                        <figcaption class="custom-p">Professor Criador</figcaption>
                                    </figure>
                                {% else %}
                                    <figure>
                                        <img src="{% static 'images/wrong.svg' %}">
                                        <figcaption class="custom-p">Professor Criador</figcaption>
                                    </figure>
                                {% endif %}
                            {% else %}
                                <figure>
                                    <img src="{% static 'images/question-mark.svg' %}">
                                    <figcaption class="custom-p">Professor Criador</figcaption>
                                </figure>
                            {% endif %}
                        </div>
                    </div>
                    <div class="one-of-six-grades">
                        <div class="content">
                            {% if ans.mean_overall != None %}
                                <h1 class="numeric-grade">{{ ans.mean_overall }}/3</h1>
                                <p class="custom-p">Média Todos Professores</p>
                            {% else %}
                                <figure>
                                    <img src="{% static 'images/question-mark.svg' %}">
                                    <figcaption class="custom-p">Média Todos Professores</figcaption>
                                </figure>
                            {% endif %}
                        </div>
                    </div>
                    <div class="one-of-six-grades">
                        <div class="content">
                            {% if ans.mean_bin_overall != None %}
                                {% if ans.mean_bin_overall %}
                                    <figure>
                                        <img src="{% static 'images/right.svg' %}">
                                        <figcaption class="custom-p">Média Todos Professores</figcaption>
                                    </figure>
                                {% else %}
                                    <figure>
                                        <img src="{% static 'images/wrong.svg' %}">
                                        <figcaption class="custom-p">Média Todos Professores</figcaption>
                                    </figure>
                                {% endif %}
                            {% else %}
                                <figure>
                                    <img src="{% static 'images/question-mark.svg' %}">
                                    <figcaption class="custom-p">Média Todos Professores</figcaption>
                                </figure>
                            {% endif %}
                        </div>
                    </div>
                    <div class="one-of-six-grades">
                        <div class="content">
                            {% if ans.a_grade != None %}
                                <h1 class="numeric-grade">{{ ans.a_grade }}/3</h1>
                                <p class="custom-p">Automática do Sistema</p>
                            {% else %}
                                <figure>
                                    <img src="{% static 'images/question-mark.svg' %}">
                                    <figcaption class="custom-p">Automática do Sistema</figcaption>
                                </figure>
                            {% endif %}
                        </div>
                    </div>
                    <div class="one-of-six-grades">
                        <div class="content">
                            {% if ans.a_bin_grade != None %}
                                {% if ans.a_bin_grade %}
                                    <figure>
                                        <img src="{% static 'images/right.svg' %}">
                                        <figcaption class="custom-p">Automática do Sistema</figcaption>
                                    </figure>
                                {% else %}
                                    <figure>
                                        <img src="{% static 'images/wrong.svg' %}">
                                        <figcaption class="custom-p">Automática do Sistema</figcaption>
                                    </figure>
                                {% endif %}
                            {% else %}
                                <figure>
                                    <img src="{% static 'images/question-mark.svg' %}">
                                    <figcaption class="custom-p">Automática do Sistema</figcaption>
                                </figure>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        Você ainda não respondeu nenhuma questão.
    {% endfor %}

{% endblock %}
