{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}

{% block head_title %}Responder Questão{% endblock %}
{% block speccss %}
    <link href="{% static 'css/answer_form.css' %}" rel="stylesheet">
{% endblock %}

{% block inner %}

    <h3 class="h1-styled">{{ question.statement }}</h3>

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">Responder</button>
    </form>

{% endblock %}
