{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Todas Questões{% endblock %}
{% block speccss %}
    <link href="{% static 'css/question_list2.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <h1 class="h1-styled">Todas Questões</h1>

    <div class="question-list">
    {% for q in object_list %}
        <div class="row">
            <div class="col-md-9">
                <div class="two-parts">
                    <div class="statement">
                        <h4 class="text-capitalize">{{ q.statement }}</h4>
                        <p><strong>Prova: </strong>{{ q.test.name }}</p>
                    </div>
                    <div class="answer-this-question">
                        <a href="{% url 's:answer-createforquestion' pk=q.pk %}">
                            <figure>
                                <img src="{% static 'images/question-only.svg' %}">
                                <figcaption><p>Responder Questão</p></figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <h4 class="paddingtop">Não há nenhuma questão.</h4>
    {% endfor %}
    </div>

{% endblock %}
