{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}

{% block title %}Início{% endblock %}
{% block speccss %}
    <link href="{% static 'css/student_index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="row student-index-all-options">

        <div class="col-sm-3 student-index-options">
            <a href="{% url 's:question-list-all' %}">
                <figure>
                    <img src="../../static/images/questions-3.svg">
                    <figcaption><h5>Ver todas questões ainda não respondidas por mim</h5></figcaption>
                </figure>
            </a>
        </div>

        <div class="col-sm-3 student-index-options">
            <a href="{% url 's:test-list-all' %}">
                <figure>
                    <img src="../../static/images/tests-stack.svg">
                    <figcaption><h5>Lista de provas</h5></figcaption>
                </figure>
            </a>
        </div>

        <div class="col-sm-3 student-index-options">
            <a href="{% url 's:answer-list-my' %}">
                <figure>
                    <img src="../../static/images/answers-3.svg">
                    <figcaption><h5>Lista das minhas respostas</h5></figcaption>
                </figure>
            </a>
        </div>

        <div class="col-sm-3 student-index-options">
            <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
                <figure>
                    <img src="../../static/images/search-paper.svg">
                    <figcaption><h5>Busca por provas ou questões</h5></figcaption>
                </figure>
            </a>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Busca por provas ou questões</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="{% url 's:test-and-question-search-by-teachernameorid' %}" method="POST">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary" name="question">Pesquisar por Questões</button>
                    <button type="submit" class="btn btn-secondary" name="test">Pesquisar por Provas</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>

    </div>

{% endblock %}
