{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}

{% block head_title %}Prova{% endblock %}
{% block speccss %}
    <link href="{% static 'css/test.css' %}" rel="stylesheet">
{% endblock %}

{% block inner %}

    {% if questions %}

        <h1 class="h1-styled">Prova {{ questions.0.test.name }}</h1>

        <p>{{ questions.0.test.description }}</p>

        <form class="form-horizontal" method="post" action="{% url 's:test-x' pk=questions.0.test.pk %}">
            {% csrf_token %}
            {{ test_formset.management_form }}

            {% for test_form in test_formset %}
                {% if forloop.last %}
                {% else %}
                    {% for q in questions %}
                        {% if q.pk == test_form.question_iddd.value %}
                            <h4>{{ q.statement }}</h4>
                        {% endif %}
                    {% endfor %}
                    {{ test_form.answer_text }}
                    {{ test_form.question_iddd }}
                {% endif %}
            {% empty %}
                Não há nenhuma questão nesta prova
            {% endfor %}

            <button type="submit" class="btn btn-primary">Responder Questões</button>
        </form>

    {% else %}
        <h1>Não há questões ainda não respondidas por você nessa prova</h1>
    {% endif %}

{% endblock %}
