{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Lista de Provas{% endblock %}
{% block speccss %}
    <link href="{% static 'css/test_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <h1 class="h1-styled">Lista de Provas</h1>

    <div class="test-list">
    {% for test in object_list %}
        <div class="row">
            <div class="col-md-8">
                <div class="both-sides">
                    <div class="title-and-description">
                        <h4 class="text-capitalize">{{ test.name }}</h4>
                        <p class="text-capitalize">{{ test.description }}</p>
                    </div>
                    <div class="q-button">
                        <a href="{% url 's:test-x' pk=test.pk %}">
                            <figure>
                                <img src="{% static 'images/questions-3.svg' %}">
                                <figcaption><p>Responder Questões</p></figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <h4 class="paddingtop">Sem provas por enquanto.</h4>
    {% endfor %}
    </div>

{% endblock %}
