{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Professor{% endblock %}

{% block inner %}

    {% if not form.instance.pk %}
        <h1 class="h1-styled">Cadastro Professor</h1>
    {% else %}
        <h1 class="h1-styled">Atualização Professor</h1>
    {% endif %}

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% if not form.instance.pk %}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        {% else %}
            <button type="submit" class="btn btn-primary">Atualizar</button>
        {% endif %}
    </form>

{% endblock %}
