{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.username }}{% endblock %}
{% block speccss %}
    <link href="{% static 'css/user_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <h1 class="h1-styled h1-centered text-capitalize">{{ object.username }} (ID {{ object.id }})</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="emails-and-infos">
                <div class="emails">
                    <a href="{% url 'account_email' %}">
                        <figure>
                            <img src="{% static 'images/email_config.svg' %}">
                            <figcaption><h4>Configurações de E-mail</h4></figcaption>
                        </figure>
                    </a>
                </div>
                <div class="infos">
                    {% if request.user.isProfessor %}
                        <a href="{% url 'users:teacherupdate' %}">
                        <figure>
                            <img src="{% static 'images/teacher.svg' %}">
                            <figcaption><h4>Minhas informações</h4></figcaption>
                        </figure>
                    {% else %}
                        <a href="{% url 'users:studentupdate' %}">
                        <figure>
                            <img src="{% static 'images/student.svg' %}">
                            <figcaption><h4>Minhas informações</h4></figcaption>
                        </figure>
                    {% endif %}

                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
