{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Respostas da Questão{% endblock %}
{% block speccss %}
    <link href="{% static 'css/answer_list.css' %}" rel="stylesheet">
{% endblock %}

{% block inner %}

    <h1 class="h1-styled">Respostas da Questão</h1>

    <div class="container-ql">

        <div class="element">
            <h3>Questão</h3>
            <h6 class="text-capitalize">{{ object_list.0.question.statement }}</h6>
        </div>

        <div class="element">
            <h3>Respostas</h3>
            <ul class="list-group">
                {% for a in object_list %}
                    <li class="list-group-item">{{ a.answer_text }}</li>
                {% empty %}
                    <li class="list-group-item">Nenhuma resposta de alunos para essa questão.</li>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}
