{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Adicionar Conceito{% endblock %}

{% block inner %}

    <h1 class="h1-styled">Adicionar Conceito</h1>

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>

{% endblock %}
