{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Avaliar Resposta{% endblock %}
{% block speccss %}
    <link href="{% static 'css/grade_answer.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <h1 class="h1-styled">Avaliar resposta</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="container-ga">

                {% if request.session.answers_for_question_x_dict_list|length|add:-1 > 0 %}
                    <h4>Falta avaliar mais <span class="badge badge-secondary">{{ request.session.answers_for_question_x_dict_list|length|add:-1 }}</span> respostas além dessa.</h4>
                {% else %}
                    <h4>Essa é a última resposta!</h4>
                {% endif %}

                <div class="element">
                    <h5><strong>Questão</strong></h5>
                    <h6 class="text-capitalize">{{ request.session.answers_for_question_x_dict_list.0.question_statement }}</h6>
                </div>

                <div class="element">
                    <h5><strong>Resposta</strong></h5>
                    <h6>{{ request.session.answers_for_question_x_dict_list.0.answer_text }}</h6>
                </div>

                <form action="{% url 't:question-answersgrading' pk=request.session.answers_for_question_x_dict_list.0.question_id %}" method="POST">
                    <div class="element binario_invisivel">
                        {{ form.t_bin_grade.errors }}
                        <label for="{{ form.t_bin_grade.id_for_label }}" class="h5 h5-styled"><strong>Nota Binária</strong></label>
                        <br>
                        {{ form.t_bin_grade }}
                    </div>

                    <div class="element">
                        {{ form.t_grade.errors }}
                        <label for="{{ form.t_grade.id_for_label }}" class="h5 h5-styled"><strong>Nota</strong></label>
                        <br>
                        {{ form.t_grade }}
                    </div>

                    {% csrf_token %}

                    <button type="submit" class="btn btn-primary" name="terminar">Avaliar e Terminar</button>
                    {% if request.session.answers_for_question_x_dict_list|length > 1 %}
                        <button type="submit" class="btn btn-secondary" name="continuar">Avaliar e Continuar</button>
                    {% endif %}
                </form>

            </div>
        </div>
        <div class="col-md-6 offset-md-3 lado2">
            <h4 class="element element2">Conceitos envolvidos:</h4>
            <ul class="list-group">
                {% for concept in concepts %}
                    <li class="list-group-item">{{ concept.concept_text }}</li>
                {% empty %}
                    <li class="list-group-item">Nenhum conceito cadastrado para a questão.</li>
                {% endfor %}
            </ul>
            <h4 class="element element2">Respostas de Referência:</h4>
            <ul class="list-group">
                {% for ref_a in ref_ans %}
                    <li class="list-group-item">{{ ref_a.ref_ans_text }}</li>
                {% empty %}
                    <li class="list-group-item">Nenhuma resposta de referência cadastrada para a questão.</li>
                {% endfor %}
            </ul>
        </div>
    </div>



{% endblock %}
