{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Questões{% endblock %}
{% block speccss %}
    <link href="{% static 'css/question_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <h1 class="h1-styled">Questões da Prova</h1>

    <div class="question-list">
    {% for q in object_list %}
        <div class="row">
            <div class="col-md-9">
                <div class="three-parts">
                    <div class="statement">
                        <h4>{{ q.statement }}</h4>
                        {% if request.user.is_superuser %}
                            <a href="{% url 't:question-update' pk=q.pk %}">Editar</a> |
                            <a href="{% url 't:question-delete' pk=q.pk %}">Excluir</a> |
                        {% endif %}
                    </div>
                    <div class="details">
                        <a href="{% url 't:question-details' pk=q.pk %}">
                            <figure>
                                <img src="{% static 'images/question-only.svg' %}">
                                <figcaption><p>Detalhes</p></figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="grade">
                        <a href="{% url 't:question-answersgrading' pk=q.pk %}">
                            <figure>
                                <img src="{% static 'images/answers-to-evaluate.svg' %}">
                                <figcaption><p>Avaliar Respostas</p></figcaption>
                            </figure>
                        </a>
                    </div>
                    <div class="answers-list">
                        <a href="{% url 't:answers-list' pk=q.pk %}">
                            <figure>
                                <img src="{% static 'images/answers-3.svg' %}">
                                <figcaption><p>Ver Respostas</p></figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <h4 class="paddingtop">Sem questões nessa prova por enquanto.</h4>
    {% endfor %}
    </div>

{% endblock %}
