{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Detalhes da Questão{% endblock %}
{% block speccss %}
    <link href="{% static 'css/question_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block inner %}

    <h1 class="h1-styled">Detalhes da Questão</h1>

    <div class="container-ql">

        <div class="element">
            <h3>Prova</h3>
            <h6 class="text-capitalize">{{ question.test.name }}</h6>
        </div>

        <div class="element">
            <h3>Enunciado</h3>
            <h6>{{ question.statement }}</h6>
        </div>

        <div class="element">
            <h3>Conceitos</h3>
            <ul class="list-group">
                {% for concept in question.concepts.all %}
                    <li class="list-group-item">{{ concept.concept_text }}</li>
                {% empty %}
                    <li class="list-group-item">Nenhum conceito nessa questão.</li>
                {% endfor %}
            </ul>
            <a href="{% url 't:concept-add' pk=question.pk %}">Adicionar conceito</a>
        </div>

        <div class="element">
            <h3>Respostas de Referência</h3>
            <ul class="list-group">
                {% for refans in question.ref_answers.all %}
                    <li class="list-group-item">{{ refans.ref_ans_text }}</li>
                {% empty %}
                    <li class="list-group-item">Nenhuma resposta de referência para a questão.</li>
                {% endfor %}
            </ul>
            <a href="{% url 't:refans-add' pk=question.pk %}">Adicionar resposta de referência</a>
        </div>

    </div>

{% endblock %}
