{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}Cadastro Questão{% endblock %}

{% block inner %}

    <div class="col-md-12">

        <h1 class="h1-styled">Cadastrar Nova Questão</h1>

        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <table class="table table-striped">
                {{ concepts.management_form }}

                {% for form in concepts.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                {% if forloop.last %}
                                    <th class="text-right">{{ field.label|capfirst }}</th>
                                {% else %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="{% cycle "row1" "row2" %} formset_row">
                        {% for field in form.visible_fields %}
                            {% if forloop.last %}
                                <td style="float: right">
                            {% else %}
                                <td>
                            {% endif %}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <table class="table table-striped">
                {{ refanswers.management_form }}

                {% for form in refanswers.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                {% if forloop.last %}
                                    <th class="text-right">{{ field.label|capfirst }}</th>
                                {% else %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="{% cycle "row1" "row2" %} formset_row2">
                        {% for field in form.visible_fields %}
                            {% if forloop.last %}
                                <td style="float: right">
                            {% else %}
                                <td>
                            {% endif %}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            {% if not form.instance.pk %}
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Atualizar</button>
            {% endif %}
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>
    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'Adicionar Conceito',
            deleteText: 'Remover',
            prefix: 'concepts'
        });
        $('.formset_row2').formset({
            addText: 'Adicionar Resposta de Referência',
            deleteText: 'Remover',
            prefix: 'ref_answers'
        });
    </script>

{% endblock %}
