{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}

{% block title %}Início{% endblock %}
{% block speccss %}
    <link href="{% static 'css/teacher_index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="row teacher-index-all-options">

        <div class="col-sm-3 teacher-index-options">
            <a href="{% url 't:test-new' %}">
                <figure>
                    <img src="../../static/images/exam-new.svg">
                    <figcaption><h5>Cadastrar Nova Prova</h5></figcaption>
                </figure>
            </a>
        </div>
        <div class="col-sm-3 teacher-index-options">
            <a href="{% url 't:question-new' %}">
                <figure>
                    <img src="../../static/images/question-answer-new.svg">
                    <figcaption><h5>Criar nova questão</h5></figcaption>
                </figure>
            </a>
        </div>
        <div class="col-sm-3 teacher-index-options">
            <a href="{% url 't:test-all-list' %}">
                <figure>
                    <img src="../../static/images/tests-stack.svg">
                    <figcaption><h5>Lista de todas provas</h5></figcaption>
                </figure>
            </a>
        </div>
        <div class="col-sm-3 teacher-index-options">
            <a href="{% url 't:test-list' %}">
                <figure>
                    <img src="../../static/images/tests-stack2.svg">
                    <figcaption><h5>Lista das minhas provas</h5></figcaption>
                </figure>
            </a>
        </div>

    </div>

{% endblock %}
