{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Confirmação de Deleção{% endblock %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        <h2>Tem certeza que deseja deletar "{{ object }}"?</h2>
        <h4>(Você apagará todas as questões da prova)</h4>
        <button type="submit" class="btn btn-danger">Confirmar</button>
    </form>

{% endblock %}
