{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Cadastro Prova{% endblock %}

{% block inner %}

    <h1 class="h1-styled">Cadastrar Nova Prova</h1>

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {% if not form.instance.pk %}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        {% else %}
            <button type="submit" class="btn btn-primary">Atualizar</button>
        {% endif %}
    </form>

{% endblock %}
