{% load static i18n %}<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Auto-Avaliador CIR{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">

    {% block css %}
        <!-- Latest compiled and minified Bootstrap 4 beta CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
              integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
              crossorigin="anonymous">

        <!-- Your stuff: Third-party CSS libraries go here -->

        <!-- This file stores project-specific CSS -->
        <link href="{% static 'css/project.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock %}
    {% block speccss %}

    {% endblock %}

</head>

<body>

<div class="m-b-1">
    <nav class="navbar navbar-expand-md navbar-light navbar-custom">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if request.user.is_authenticated %}
            {% if request.user.isProfessor %}
                <a class="navbar-brand" href="{% url 't:teacherhome' %}"><h2 class="h1-navbar-styled">Auto-Avaliador CIR</h2></a>
            {% else %}
                <a class="navbar-brand" href="{% url 's:studenthome' %}"><h2 class="h1-navbar-styled">Auto-Avaliador CIR</h2></a>
            {% endif %}
        {% else %}
            <a class="navbar-brand" href="{% url 'home' %}"><h2 class="h1-navbar-styled">Auto-Avaliador CIR</h2></a>
        {% endif %}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}"><h6>Sobre</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}"><h6>Contato</h6></a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'users:detail' request.user.username %}"><h6>{% trans "Meu perfil" %}</h6></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}"><h6>{% trans "Sign Out" %}</h6></a>
                    </li>
                    {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}"><h6>{% trans "DjangoAdmin" %}</h6></a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a id="sign-up-link" class="nav-link"
                           href="{% url 'account_signup' %}"><h6>{% trans "Sign Up" %}</h6></a>
                    </li>
                    <li class="nav-item">
                        <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}"><h6>{% trans "Sign In" %}</h6></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

</div>

<div class="container containerr">

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if custom_message %}
        <div class="alert alert-{{ custom_message.tag }}">
            {{ custom_message.text }}
        </div>
    {% endif %}

    {% block content %}
        <h1 class="h1-styled">Aqui fica o conteúdo da página.</h1>
    {% endblock content %}

</div> <!-- /container -->

{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
    <!-- Required by Bootstrap v4 beta -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>

    <!-- Your stuff: Third-party javascript libraries go here -->

    <!-- place project specific Javascript in this file -->

    <script src="{% static 'js/project.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>

{% endblock javascript %}
</body>
</html>
