{% extends "base.html" %}
{% load static %}

{% block title %}Escolha seu tipo de usuário{% endblock %}
{% block speccss %}
    <link href="{% static 'css/chooseusertype.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <h1 class="h1-styled h1-centered">Escolha seu tipo de usuário</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="teacher-and-student">
                <div class="teacher">
                    <a href="{% url 'users:teachersignup' %}">
                        <figure>
                            <img src="{% static 'images/teacher.svg' %}">
                            <figcaption><h4>Professor</h4></figcaption>
                        </figure>
                    </a>
                </div>
                <div class="student">
                    <a href="{% url 'users:studentsignup' %}">
                        <figure>
                            <img src="{% static 'images/student.svg' %}">
                            <figcaption><h4>Estudante</h4></figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
